[submodule "storymap"]
	path = storymap
	url = https://github.com/story-network/storymap.git
[submodule "story-network-common"]
	path = story-network-common
	url = https://github.com/story-network/story-network-common.git
[submodule "pancake-server"]
	path = pancake-server
	url = https://github.com/story-network/pancake-server.git
[submodule "maven"]
	path = maven
	url = https://github.com/story-network/maven.git
[submodule "example-plugin"]
	path = example-plugin
	url = ./example-plugin
